button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;


    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;


}

table{
    color: #feffff;
    margin-left: 15%;
    border-color: #61af2b;
    border-spacing-color:#61af2b  ;
    align-self: center;


}
td{
    width: 200px;
    background-color: #4CAF50;
}

h1, h2 {

     width: 1338px;
    margin-left: 15%;

     border: solid;
     border-color: #61af2b;
     border-width: 5px;

     text-align: center;
     background-color: #a9fbd5;



     background-color: #38d348;
     border-color: #4CAF50;
     border-width: 5px;
     color: #eeefef;
 }

button:hover {
    background-color: #fb1111;
    color: #fdfdff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;



}