input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 100px;
}




h1, h2 {

    width: 666px;
    margin-left: 35%;
    border: solid;
    border-color: #61af2b;
    border-width: 5px;

    text-align: center;
    background-color: #a9fbd5;



    background-color: #38d348;
    border-color: #4CAF50;
    border-width: 5px;
    color: #eeefef;
}
form {
    border: 3px solid #f1f1f1;
    display: inline-block;
    margin-top: 5%;
    margin-right: 30%;
    margin-left: 46%;



}


form.wyslij {
    border: 3px solid #f1f1f1;
    width: 668px;
    display: inline-block;
    margin-right: 30%;
    margin-left: 38%;



}

form.powrotButton{
    width: 30%;
    border: none;
    margin-left: 38.5%;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #fb1111;
    color: #fdfdff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

table{
    color: #feffff;
    margin-left: 31%;
    border-color: #61af2b;
    border-spacing-color:#61af2b  ;
    align-self: center;


}
td{
    width: 200px;
    background-color: #4CAF50;
}


