button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;


    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;


}

table{
    color: #feffff;
    margin-left: 32%;
    border-color: #61af2b;
    border-spacing-color:#61af2b  ;
    align-self: center;

    width: 750px;
}
td{
    width: 200px;
    background-color: #4CAF50;
}
button:hover {
    background-color: #fb1111;
    color: #fdfdff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;



}

button.wiadomoscDoNauczycielaButton{
    margin-left: 32%;
    width: 750px;
}
h1, h3 {

    width: 740px;
    margin-left: 32%;
    border: solid;
    border-color: #61af2b;
    border-width: 5px;

    text-align: center;
    background-color: #a9fbd5;



    background-color: #38d348;
    border-color: #4CAF50;
    border-width: 5px;
    color: #eeefef;
}

button.edytujButton{
    margin-left: 40%;
    width: 452px;
}


tr:nth-child(even) {background-color: #f2f2f2;}
